*,
*::before,
*::after {
    box-sizing: inherit;
}

@font-face {
    font-family: 'Omori';
    src: url(fonts/omori_game2-webfont.ttf);
}

html {
    width: 100%;
    height: 100%;
    display: table;
}

body {
    width: 100%;
    display: table-cell;
    font-family: 'Omori';
    background-image: url(/img/kawaiilolichan.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    font-size: 20px;
}


/*----------------------- variables --------------------*/

:root {
    --main-color: #111;
    --comp: #fff;
}


/*----------------------- body Elements --------------------*/

.nav-bar {
    padding: 0px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main-color);
    box-shadow: 0 0 15px var(--main-color);
    position: sticky;
    top: 0;
    z-index: 999;
    span {
        font-size: 30px;
        color: var(--comp)
    }
    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        li {
            flex-grow: 1;
            list-style: none;
            a {
                display: inline-block;
                color: var(--comp);
                padding: 20px;
                text-decoration: none;
                font-size: 25px;
            }
        }
    }
}

.container {
    padding: 0;
}

.gallery-container {
    /*------------------ gallery container variables --------------*/
    --border-color: #222;
    /*------------------ gallery container properties --------------*/
    max-width: 1160px;
    margin: 2em auto;
    padding: 20px;
    background-image: linear-gradient(155deg, var(--comp), var(--main-color));
    box-shadow: 0 0 16px var(--main-color);
    border-radius: 20px;
    border-top: 15px solid var(--border-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    &::before {
        content: '';
        position: absolute;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background-color: var(--main-color);
        box-shadow: 8px 8px var(--border-color);
        top: 10%;
        left: 40px;
        z-index: -1;
    }
    &::after {
        content: attr(data-current);
        color: #fff;
        font-size: 30px;
        position: absolute;
        top: 12.5%;
        left: 94px;
    }
    /*------------ image container --------- */
    .main-img {
        flex: 1 0 45%;
        margin-right: 20px;
        position: relative;
        #prev,
        #next {
            background: none;
            border: none;
            outline: none;
            position: absolute;
            top: 50%;
            color: var(--comp);
            font-size: 40px;
            text-shadow: 0 0 5px var(--main-color);
        }
        #prev {
            left: 5px;
        }
        #next {
            right: 5px;
        }
    }
    .sub-imgs {
        flex-basis: 40%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
    }
    /*------------- images -----------*/
    .main-img img {
        width: 100%;
        box-shadow: 6px 6px var(--main-color);
        border-radius: 10px;
    }
    .sub-imgs img {
        width: 100%;
        height: 100%;
        box-shadow: 4px 4px var(--main-color);
        border-radius: 5px;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
        object-fit: cover;
        &:hover {
            transform: translateY(-7px);
        }
    }
    /* ------------------------------ */
    .instructions {
        font-size: 25px;
        grid-column: 1 / 2;
    }
    .circle {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: var(--main-color);
        justify-self: center;
        &::before {
            content: '';
            position: absolute;
            min-width: 230px;
            min-height: 450px;
            border: 5px solid var(--border-color);
            border-radius: 20px;
            top: 150px;
            right: 130px;
            z-index: -1;
        }
        &::after {
            content: '';
            position: absolute;
            z-index: -1;
            min-height: 300px;
            border: 3px solid var(--border-color);
            top: 0;
            right: 130px;
        }
    }
    .img-indicate {
        position: absolute;
        bottom: 40px;
        left: 30px;
        font-size: 30px;
        background: var(--main-color);
        border-radius: 99px;
        padding: 5px 20px;
        color: var(--comp);
    }
}

// forgotten note, height dynamically changes its values